<form action="/signup" method="POST">
    <label for="username">Enter Username: <input type="text" name="username" id="username"></input>
    <label for="email">Enter Email: <input type="text" name="email" id="email"></input>
    <label for="password">Enter Password: <input type="password" name="password" id="password"></input>
    <input type="submit" value="Sign Up"/>
</form>